.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--text-color);
  width: 1440px;
  
}
:root {
  --bcg-white-color: #ffffff;
   --bcg-grey-color:  #f4f4fd;
--bcg-blue-color:#2e2f42;
--hover-color: #4d5ae5;
--accent-color: #404bbf;
--subtle-bcg: #e7e9fc;
--text-color:#434455;
  }

h1,h2,h3,h4.h5,h6{
  margin: 0px;
}

img{
  display: block;
}

button{
  cursor: pointer;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.conteiner{
width: 1128px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;

}


/* logo */    
.logo-link { 
  color: var(--hover-color);

  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.logo {
  display: block;
  margin-right: 76px; 

 color: var(--bcg-blue-color);

  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}


/* navigation */
.nav{
  display: flex;
}
.nav-list{
 
}

.nav-items {
color: var(--bcg-blue-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
}

.nav-items:hover, .nav-items:focus {
  color: var(--accent-color);
}

.nav-items.active {
  color: var(--accent-color);
}

.nav-items, .contact-item, .logo, .footer-logo{
  text-decoration: none;
}

.nav-list:not(:last-child){
margin-right: 40;
}

.contact-item {
color: var(--text-color);

font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-item:hover,.contact-item :focus{
  color: var(--accent-color);
} 




/* main /* 
/* hero */

.hero,
.footer {
  width: 1440px;
  background-color:var(--bcg-blue-color);
margin-left: auto;
margin-right: auto;
}

.hero-title {
width: 494px;
padding-top: 188px;
margin-bottom: 48px;
margin-left: 473px;

  color: var(--bcg-white-color);

font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  display: inline-block;
min-width: 169px;
min-height: 56px;

border-radius: 4px;
margin-bottom: 188px;
margin-left: 635px;
  background-color:var(--hover-color);
  color: var(--bcg-white-color);
  
font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,.hero-button :focus {
  background-color: var(--accent-color);
}
.hero-conteiner{
margin-top: 0px;
margin-bottom: 120px;
}

/* section1 Strategy */
.strategy{
  margin-bottom: 120px;
}
.strategy-items{
  display: flex;
  width: 264px;
  margin-right: 24px;
  
    
}

.section-title {
margin-top: 0px;
  margin-bottom: 72px;

  color: var(--bcg-blue-color);

  font-weight: 700;
Font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
}
 
.stategy-title, .item-name{
 
margin-top: 0px;
  margin-bottom: 8px;


  color: var(--bcg-blue-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em; 
}

.strategy-list{
 

    

}
.text,
.item-text {

font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text{
  margin-top: 0px;
  
  width: 264px;
  margin-right: 24px;
  
  
}
.text:not( :last-child){
  
}


/* what are we doing */
.examples {
  
  
  margin-bottom: 120px;
}
.section-title {
margin-bottom: 120px; 

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;

}
.example-item{
  margin-right: 24px;
 
}
.example-items{
  display: flex;
  margin-bottom: 120px;
  
 
}

/* our team */
.team {
  
padding-bottom: 120px;

  background-color: var(--bcg-grey-color);

}
.section-title-team{
  padding-top: 120px;
margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;


}
.team-img{
  margin-top: 0px;
  margin-bottom: 32px;
 
}
.team-item{
  margin-right: 24px;
  border: 1px solid transparent;
  border-bottom-right-radius:4px; 
border-bottom-left-radius: 4px;

background-color:var(--bcg-white-color)
}
.item-name{
  margin-top: 0px;
  margin-bottom: 8px;
}
.team-items{
  display: flex;
  
 
}


/* footer */
.footer{
  
}
.footer-block {
  width: 264px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 156px;
}
.footer-link {
  color:var(--hover-color);

  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.footer-logo {
padding-bottom: 16px;

  color:var(--bcg-grey-color);

  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.footer-text {


  color: var(--subtle-bcg);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio */
/*Header */


/* filter */
.filter{
  margin-top: 96px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.filter-items{
  display: flex;
  
  
}
.button {
  display: inline-block;
min-width: 69px;
height: 56px;
padding-left:  24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
margin-top: 0px;
  margin-bottom: 72px;
  margin-right: 24px;
border-radius: 4px;
border: 1px solid var(--subtle-bcg);

  background-color: var(--subtle-bcg);
  color: var(--hover-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover, .button:hover :focus {
  background-color: var(--accent-color);
  color: var(--bcg-white-color);
}


/*section */
.thumb-title {
  margin-top: 0px;
  margin-bottom: 8px;

  color: var(--bcg-blue-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.thumb-link {
color: var(--text-color);

 font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.thumb-link{
  text-decoration: none;

}
.thumb{
  margin-top: 0px;
  margin-bottom: 32px;
  margin-right:0px;
}
.card{
  margin-bottom: 120px;
}
.thumbnail{
  display: flex;
  flex-wrap: wrap;
 row-gap: 24px;
 column-gap: 48px; 
  
}
.card{
  margin-right: 0px;
   border-bottom: 1px solid var(--subtle-bcg);
flex-basis: calc((100%-48px)/3);
  }





